#signup-container {
    background-image: linear-gradient(to right, teal, skyblue, teal);
    min-height: 100vh;
    max-height: 100vh;
  }
  
  #first-box {
    background-color: whitesmoke;
    min-height: 85vh;
    min-width: 80vw;
    max-height: 90vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 10px;
  }
  
  #signup-box {
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  #image-container {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  #todo-app-image {
    width: 400px;
    height: 400px;
    object-fit:cover;
  }
  
  #signup-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: teal;
    margin-bottom: 10px;
  }
  
  #signup-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-input {
    padding: 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-input:focus {
    border: 2px solid teal;
  }
  
  #password-toggle, #confirm-password-toggle {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: gray;
  }
  
  #signup-button {
    background-image: linear-gradient(to right, skyblue, teal, skyblue);
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #signup-button:hover {
    background-image: linear-gradient(180deg, teal, teal);
  }
  
  #signup-login {
    text-align: center;
    margin-top: 16px;
  }
  
  #signup-login-link {
    color: teal;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  #signup-login-link:hover {
    color: blue;
  }
  
  @media (max-width: 768px) {
    #first-box {
      flex-direction: column;
    }
    
    #image-container {
      display: none;
    }
  
    #signup-box {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 1024px) {
    #first-box {
      flex-direction: column;
    }
    
    #image-container {
      display: none;
    }
  
    #signup-box {
      margin: 0 auto;
    }
  }
  